@import './../../../../../assets/scss/vars';

#pages {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

.buttons-gouped {
  display: flex;
  column-gap: 2px;
  > span {
    min-width: 24px;
    width: auto;
    height: 24px;
    border-color: $primary;
    background-color: $primary;
    color: $white;
    border-radius: 8px;
    border-style: solid;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
      background-color: $primary-t10;
      border-color: $primary-t10;
    }
    &.active {
      background-color: $primary-s50;
      border-color: $primary-s50;
      &:hover {
        cursor: default;
      }
    }
  }
}
