<main>
  <div>
    <section>
      <img
        src="/assets/images/ladvox-logo-withlegend.png"
        alt=""
        srcset=""
      />
    </section>
    <section>
      <h6>Esqueceu sua senha?</h6>
    </section>
    <section>
      <p>Vamos recupera-la agora mesmo, basta nos informar alguns dados</p>
      <form
        class="form"
        [formGroup]="form"
        (keydown.enter)="$event.preventDefault()"
      >
        <div class="form-control open">
          <label for="login">CPF</label>
          <input
            type="text"
            id="login"
            name="login"
            formControlName="login"
            mask="000.000.000-00||AAAAAAAAAAAAAAAAAAAAAAAAA"
          />
        </div>
        <div
          class="form-control open"
          *ngIf="form.getRawValue().login"
        >
          <label for="birthDate">Data de nascimento</label>
          <input
            type="date"
            id="birthDate"
            name="birthDate"
            formControlName="birthDate"
          />
        </div>
        <div
          class="form-control open"
          *ngIf="form.getRawValue().birthDate"
        >
          <label for="newPassword">Nova senha</label>
          <input
            [type]="showNewPassword ? 'text' : 'password'"
            id="newPassword"
            name="newPassword"
            formControlName="newPassword"
            [pTooltip]="tooltipContent"
          />
          <fa-icon
            [icon]="showNewPassword ? faEyeSlash : faEye"
            (click)="showNewPassword = !showNewPassword"
          ></fa-icon>
        </div>
        <div
          class="form-control open"
          *ngIf="form.getRawValue().login && form.getRawValue().newPassword"
        >
          <label for="password">Confirmação da nova senha</label>
          <input
            [type]="showNewPasswordConfirmation ? 'text' : 'password'"
            id="newPasswordConfirmation"
            name="newPasswordConfirmation"
            formControlName="newPasswordConfirmation"
            [pTooltip]="tooltipContent"
          />
          <fa-icon
            [icon]="showNewPasswordConfirmation ? faEyeSlash : faEye"
            (click)="showNewPasswordConfirmation = !showNewPasswordConfirmation"
          ></fa-icon>
        </div>
        <button
          class="primary"
          id="changePassword"
          name="changePassword"
          [disabled]="isLoading || !isFormValid"
          (click)="changePassword()"
        >
          <i
            *ngIf="isLoading"
            class="fa-solid fa-spinner fa-spin-pulse"
          ></i>
          <ng-container *ngIf="!isLoading"> Alterar senha </ng-container>
        </button>
      </form>
    </section>
    <section id="other-links">
      <a
        class="info"
        (click)="back()"
        >Voltar</a
      >
    </section>
  </div>
</main>

<ng-template #tooltipContent>
  <div class="flex align-items-center">
    <ul>
      <li>Não pode conter três caracteres consecutivos iguais.</li>
      <li>Deve ter entre 6 e 15 caracteres.</li>
      <li>Deve conter pelo menos uma letra minúscula.</li>
      <li>Deve conter pelo menos uma letra maiúscula.</li>
      <li>Deve conter pelo menos um dígito numérico.</li>
      <li>Deve conter pelo menos um caractere especial (como ~!{{ '@' }}#$%^&*).</li>
    </ul>
  </div>
</ng-template>
