@import './vars';

p-avatar {
  color: white;
  font: $heading1;
  > div {
    background-color: $primary;
    > img {
      object-fit: cover;
    }
  }
  &.fullsize {
    > div {
      width: 100%;
      height: 100%;
    }
  }
}
