<table>
  <thead>
    <th>Valor</th>
    <th>Apresentação</th>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Nunca acontece e não é um problema</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Acontece pouco e raramente é um problema</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Acontece às vezes e é um problema moderado</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Acontece muito e quase é um problema</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Acontece sempre e é um problema ruim</td>
    </tr>
  </tbody>
</table>
