<header>
  <h1>Planejamento de atendimentos</h1>
  <!-- <p>Listagem de pacientes do sistema</p> -->
</header>
<section class="filters">
  <span class="title">Filtros</span>
  <form
    *ngIf="form"
    (keydown.enter)="$event.preventDefault()"
    (keyup.enter)="clickFilter()"
    [formGroup]="form"
  >
    <div class="form-control w-10">
      <label for="id">ID</label>
      <input
        type="number"
        id="id"
        name="id"
        formControlName="id"
      />
    </div>
    <div class="form-control w-40">
      <label for="name">Nome</label>
      <input
        type="text"
        id="name"
        name="name"
        formControlName="name"
      />
    </div>
    <div class="form-control-group w-25">
      <label for="initialValidityStarts">Início da vigência entre</label>
      <div>
        <input
          type="date"
          id="initialValidityStarts"
          name="initialValidityStarts"
          formControlName="initialValidityStarts"
        />
        <label for="initialValidityEnds">e</label>
        <input
          type="date"
          id="initialValidityEnds"
          name="initialValidityEnds"
          formControlName="initialValidityEnds"
        />
      </div>
    </div>
    <div class="form-control-group w-25">
      <label for="finalValidityStarts">Fim da vigência entre</label>
      <div>
        <input
          type="date"
          id="finalValidityStarts"
          name="finalValidityStarts"
          formControlName="finalValidityStarts"
        />
        <label for="finalValidityEnds">e</label>
        <input
          type="date"
          id="finalValidityEnds"
          name="finalValidityEnds"
          formControlName="finalValidityEnds"
        />
      </div>
    </div>
    <div class="form-control w-40">
      <label for="teamName">Equipe</label>
      <input
        type="text"
        id="teamName"
        name="teamName"
        formControlName="teamName"
      />
    </div>
    <div class="form-control w-40">
      <label for="patientId">Paciente</label>
      <p-dropdown
        inputId="patientId"
        [options]="patientSelectOptions"
        optionLabel="name"
        optionValue="id"
        [showClear]="true"
        [filter]="true"
        formControlName="patientId"
      />
    </div>
    <div class="form-control w-20">
      <label for="room">Sala</label>
      <input
        type="text"
        id="room"
        name="room"
        formControlName="room"
      />
    </div>
  </form>
  <div class="actions">
    <button
      class="warn"
      (click)="clickClean()"
    >
      <i class="fa-solid fa-filter-circle-xmark"></i>
      Limpar
    </button>
    <button
      class="primary"
      (click)="clickFilter()"
    >
      <i class="fa-solid fa-filter"></i>
      Buscar
    </button>
  </div>
</section>
<section class="actions">
  <ng-container *hasPermission="'atendimento.planejamento-atendimento.form.new'">
    <button
      class="success"
      (click)="clickAddNew()"
    >
      <i class="fa-solid fa-circle-plus"></i>
      Novo
    </button>
  </ng-container>
</section>
<section>
  <app-card-table [cardTableConfig]="medicalAppointmentPlanningBaseCardTableConfig">
    <app-action-card-table [config]="editCardTableActionConfig"></app-action-card-table>
    <app-action-card-table [config]="viewCardTableActionConfig"></app-action-card-table>
  </app-card-table>
</section>
