<header>
  <h1>Planejamento de atendimento</h1>
  <p>
    Equipes do Planejamento{{
      form && form.getRawValue() && form.getRawValue().name
        ? ' "' + form.getRawValue().name + '"'
        : ''
    }}
  </p>
</header>

<app-tab
  *ngIf="form && tabItems"
  [items]="tabItems"
  (onTabChange)="onTabChange($event)"
></app-tab>

<div
  class="actions"
  *ngIf="form"
>
  <div class="onleft">
    <button
      class="warn"
      (click)="clickBack()"
    >
      Voltar
    </button>
  </div>
  <div class="onright">
    <ng-container
      *ngIf="
        hasPermissionFormEdit ||
        (hasPermissionFormNew && form && form.getRawValue() && form.getRawValue().nextStepIsEnable)
      "
    >
      <button
        *ngIf="editing"
        class="secondary"
        (click)="clickAddTeam()"
      >
        <i class="fa-solid fa-user-plus"></i>
        Nova equipe
      </button>
      <button
        *ngIf="editing"
        class="success"
        (click)="clickSave()"
      >
        Salvar
      </button>
    </ng-container>
    <button
      *ngIf="form.getRawValue() && form.getRawValue().nextStepIsEnable"
      class="success"
      (click)="clickContinue()"
    >
      Continuar
    </button>
  </div>
</div>

<section class="forms mj-team-section">
  @defer {
    <ng-container *ngFor="let teamForm of form.getRawValue().teamsForms; index as teamFormIndex">
      <form
        *ngIf="form"
        [formGroup]="teamForm"
        class="mj-team-card"
        [style.background-color]="teamForm.getRawValue().color + '80'"
      >
        <div class="form-control w-100">
          <label for="name">Nome</label>
          <input
            type="name"
            id="name"
            formControlName="name"
          />
        </div>
        <div class="form-control w-100">
          <label for="color">Cor</label>
          <input
            type="color"
            id="color"
            formControlName="color"
          />
        </div>
        <div class="form-control w-100">
          <label for="therapistsIds">Terapeutas</label>
          <p-multiSelect
            [options]="therapistsSelectOptions"
            formControlName="therapistsIds"
            optionLabel="name"
            optionValue="id"
            display="chip"
            [showClear]="true"
          />
        </div>
        <button
          *ngIf="editing"
          class="danger"
          (click)="clickRemoveTeam(teamForm, teamFormIndex)"
        >
          <i class="fa-solid fa-trash"></i>
          Remover
        </button>
      </form>
    </ng-container>
  } @placeholder (minimum 1000ms) {
    <ngx-skeleton-loader
      count="2"
      [theme]="{ 'width': '460px', 'height': '260px', 'margin-right': '12px' }"
    />
  }
</section>
